
body {
  overflow: hidden;
}

.topnav {
  overflow: hidden;
  border-bottom: 1px solid black;
}

.topnav a {
  float: left;
  /*color: #f2f2f2;*/
  color: #0;
  text-align: center;
  padding: 2px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  cursor: pointer;
  /*background-color: #ddd;*/
  background-color: #aaffaa;
  color: blue;
}
/*
.collapsable {
     border: 1px solid #F00;
}
*/
.collapser {
  width: 85%;
  border: 1px solid #0F0;
  padding: 0px 0px;
  cursor: pointer;
  display: inline-block;
}

.collapser::after {
  content: "▼";
  float: right;
}

fieldset {
  margin-bottom: 10px;
}

#userlist {
  width: 100%;
  resize: none;
}

