
body {
  overflow: hidden;
}

div {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

#dv1 {
  height: 10%;
}

#dv2 {
  margin-top: 0.8em;
  height: 7%;
}

#dv3 {
  height: 75%;
}


#cmd {
  vertical-align: middle;
  width:100%;
  height:90%;
  resize: vertical;
}

#tout_warn {
  color: red;
  font-weight: bold;
  font-style: italic;
}

#output_text {
  height:99%;
}

#output_clear {
  position: fixed;
  right: 10px;
  /*bottom: 6px;*/
}

