
#include <windows.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "webview-test.manifest"

IDI_APP ICON DISCARDABLE "webview-test.ico"
IDI_WIN ICON DISCARDABLE "webview-test.ico"

