

body {
  overflow: hidden;
}

.topnav {
  overflow: hidden;
  border-bottom: 1px solid black;
}

.topnav a {
  float: left;
  /*color: #f2f2f2;*/
  color: #0;
  text-align: center;
  padding: 2px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  cursor: pointer;
  /*background-color: #ddd;*/
  background-color: #aaffaa;
  color: blue;
}

div {
  width: 100%;
}

#userlist {
  position: absolute;
  overflow: hidden;
  
  resize: none;
  bottom: 6px;
  left: 6px;
  top: 260px;
  right: 6px;
}

