
body {
  overflow: hidden;
}

.topnav {
  overflow: hidden;
  border-bottom: 1px solid black;
  user-select: none;
}

.topnav a {
  float: left;
  color: #0;
  text-align: center;
  padding: 2px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  cursor: pointer;
  background-color: lightgrey;
  color: cornflowerblue;
}

.topnavsel,.topnav a:active {
  cursor: pointer;
  background-color: lightgrey;
}
/*
fieldset, legend {
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 2 0;
}

fieldset {
  margin-bottom: 6px;
  padding-bottom: 6px;
}
*/
